/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
/* line 19, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#map {
  height: 50%;
  width: 50%;
}

/* Optional: Makes the sample page fill the window. */
/* line 24, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 31, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.welcome {
  font-family: 'Open Sans', sans-serif;
  float: center;
  position: relative;
}

/* line 37, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#spare_alert {
  position: relative;
  font-weight: bold;
}

/* line 42, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* line 53, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#alert {
  position: relative;
  left: -29px;
}

/* line 58, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#left {
  float: left;
  overflow: hidden;
  position: relative;
  top: -10px;
  left: -10px;
}

/* line 66, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#center {
  float: right;
  overflow: hidden;
  position: relative;
  left: -110px;
  top: -9px;
}

/* line 75, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#right {
  float: right;
  overflow: hidden;
  position: relative;
  top: -9px;
}

/* line 83, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#remove {
  content: "add as a favorite city";
}

/* line 86, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

/* line 97, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#pac-input:focus {
  border-color: #4d90fe;
}

/* line 101, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.pac-container {
  font-family: Roboto;
}

/* line 105, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

/* line 111, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/* line 116, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#target {
  width: 345px;
}

/* line 120, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.breathe_icon {
  position: absolute;
  left: 12px;
  width: 110px;
  top: 8px;
}

/* line 127, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#navigation_cities {
  position: relative;
  left: 120px;
}

/* line 132, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.image_tag_mobile {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-top: 1px;
}

/* line 135, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.allergen_name_mobile {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #989898;
}

/* line 138, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.allergen_status_mobile {
  float: right;
  width: 14px;
  height: 14px;
  border-radius: 7px;
}

/* line 141, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.allergen_value_mobile {
  float: right;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #989898;
}

/* line 144, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#left-col {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.09), 0 2px 0 rgba(0, 0, 0, 0.1);
}

/* line 150, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.gmail_icon {
  width: 40px;
  height: 40px;
}

/* line 156, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#marker-cta {
  background-color: #5299a4;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 240px;
  color: white;
}

/* line 168, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#marker-cta-mobile {
  background-color: #5299a4;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 240px;
  color: white;
}

/* line 180, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#wrap {
  width: 180px;
  margin: 0 auto;
}

/* line 185, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#left_col {
  float: left;
  width: 90px;
}

/* line 190, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
#right_col {
  float: right;
  width: 90px;
}

/* line 194, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.about-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}

/* line 199, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.about-text {
  font-weight: 400;
  font-size: 14px;
}

/* line 203, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.about-image {
  width: 100%;
}

/* line 206, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.about-image-sm {
  width: 70px;
}

/* line 209, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.about-row {
  margin-top: 10px;
}

/* line 212, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.about-row-mobile {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #eee;
}

/* line 219, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.about-image-sm-mobile {
  width: 60px;
  border-radius: 30px;
  margin-bottom: 15px;
}

/* line 224, /home/ubuntu/workspace/breathe-cal/app/assets/stylesheets/breathe.scss */
.center-col {
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

