<div style="padding: 10px;">
  <button type="submit" class="btn btn-default">Back</button>
</div>

<div style="padding: 10px;">
  <h3 id="city-name">City Name</h3>
</div>
<div style="padding: 10px;">
  <h5>Weather</h5>  
</div>
<div style="padding: 10px;">
  <h5>Allergens</h5>  
</div>
<div style="padding: 10px;">
  <h5>Other Info</h5>  
</div>
