

<input type="checkbox" id="cbox1" value="cat"> <label for="cbox2">Cat</label>
<input type="checkbox" id="cbox2" value="dog"> <label for="cbox2">Dog</label>
<input type="checkbox" id="cbox3" value="mold"> <label for="cbox2">Mold</label>
<div id="marker-submit"> sub button goes heere</div>
<div id="marker-cancel"> cancel </div>


