<div style="background-color: rgb(25,200,70); height: 100%; padding:40px 40px;">
  
    <div style="padding-left: 50px; color: white;">
        <div style="font-family: 'Open Sans', sans-serif; font-size: 24px">Click here to add an allergen</div>
    </div>

</div>
