<div style="padding: 10px 20px;">
    <div style="float: left; margin-top: 15px; margin-left: 15px;">
        <%= image_tag(get_weather_image(@data)) %>
    </div>
    <div style="padding-left: 120px;">
        <div style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 24px; color: #575757;"><%= get_weather_num(@data) %></div>
        <div style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #575757;"><%= get_weather_text(@data) %></div>
    </div>
</div>
