<nav class="navbar navbar-default" style="margin-bottom: 10;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <!--Breathe California-->
        <%= image_tag "bcal.jpg", class:"breathe_icon" %>
      </a>
    </div>
  </div>
</nav>
</div>

<div class="row">
  <div class="col-md-8 col-ms-12" style="padding-right: 0;">
    <div id="map" style="height: 680px; width: 100%;"></div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  </div>
  <div class="col-md-4 col-ms-12" style="padding-left: 0;">
    <%= render 'list' %>
    <br>
    <%= render 'detail' %>
  </div>  
  
</div>

