
// #map-container {
//    height: 400px;
//    border-radius: 16px 16px;
//    border-color: #fff;
//    border-style: solid;
//    box-shadow: 2px 2px 10px #B1B1B1;
//    margin-top: 25px;
//    border-width: 7px;
//  }
//  #map-canvas {
//    height: 384px;
//    width: 100%;
//  }

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 50%;
  width: 50%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

.breathe_icon {
    position: absolute;
    left: 12px;
    width: 110px;
    top: 8px;
}
.image_tag_mobile {
  position: absolute; width: 15px; height: 15px; margin-left: 10px; margin-top: 1px;
}
.allergen_name_mobile {
  font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 12px; color: #989898;
}
.allergen_status_mobile {
  float: right; width: 14px; height: 14px; border-radius: 7px;
}
.allergen_value_mobile {
  float: right; margin-right: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 12px; color: #989898;
}
#left-col {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.09), 0 2px 0 rgba(0,0,0,0.1);
  
}

.gmail_icon {
  width: 40px;
  height: 40px;
  // border-radius: 50%;
}